/* Estilos generales, similares a la página de inicio de sesión */
body {
    font-family: Arial, sans-serif;
    background-color: #f8ecd1; /* Color vainilla claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Estilos del contenedor de recuperación de contraseña */
.password-recovery-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos de los títulos y textos */
h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los campos del formulario y botones, similares a login.css */
.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    width: calc(100% - 20px);
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #555;
}

/* Estilos para los enlaces */
.link {
    display: block;
    text-align: center;
    color: #0066cc;
    text-decoration: none;
    margin-top: 10px;
}

.link:hover {
    text-decoration: underline;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 600px) {
    .password-recovery-container {
        margin: 10px;
        width: calc(100% - 20px);
    }
}
