<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña - OWL</title>
    <link rel="stylesheet" href="../../static/styles/reestablecer-2.css"> <!-- Asegúrate de vincular tu archivo CSS -->
</head>

<body>
    <div class="password-recovery-container">
        <h1>Cambiar Contraseña</h1>

        <form id="recover-form" method="post">
            <div class="form-group">
                <label for="new-password">Contraseña:</label>
                <input type="password" id="new-password" name="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="new-confirm-password">Confirmar Contraseña:</label>
                <input type="password" id="new-confirm-password" name="confirm-password" class="form-control">
                <span id="password-error" class="error"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary">
            </div>
        </form>

        <a href="{{ url_for('home') }}" class="link">Volver al inicio de sesión</a>
    </div>

    <script src="../../static/js/reestablecer-2.js"></script>
</body>

</html>