<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Configuración de Cuenta - OWL</title>
    <link rel="stylesheet" href="../../static/styles/configuracion.css">
</head>

<body>
    <div class="config-container">
        <nav class="navbar">
            <span class="navbar-brand">Configuracion de la cuenta</span>
            <div class="navbar-controls">
                <button id="inicio-button" class="nav-link">Volver al inicio</button>
                <button id="logout-button">Cerrar Sesión</button>
            </div>
        </nav>

        <section class="personal-info">
            <h2>Información Personal</h2>
            <img id="vista-foto" class="profile-pic" src="{{ user_data.foto_perfil }}" alt="foto">
            <input type="file" id="foto-perfil" class="inputFile hidden" accept="image/jpeg, image/png, image/jpg">
            <div class="input-container">
                <label for="fullname" class="input-label">Usuario:</label>
                <input type="text" id="fullname" name="fullname" disabled class="input-field" value="{{ user_data.username }}">
            </div>
            <div class="input-container">
                <label for="rol" class="input-label">Rol:</label>
                <input type="text" id="rol" name="rol" disabled class="input-field" value="{{ user_data.rol }}">
            </div>
        </section>

        <section class="password-change">
            <h2>Cambiar Contraseña</h2>
            <form id="actualizar-pass" action="/configuracion" method="post">
                <input id="new-password" type="password" name="new-password" placeholder="Nueva Contraseña">
                <input id="confirm-new-password" type="password" name="confirm-new-password"
                    placeholder="Confirmar Nueva Contraseña">
                <span id="password-error"></span>
                <div>
                    <input type="submit" value="Actualizar Información">
                </div>
            </form>
        </section>
    </div>
    <script src="../../static/js/configuracion.js"></script>
</body>

</html>