<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <link rel="stylesheet" href="../../static/styles/curso.css">
</head>

<body>
    <div class="dashboard-container">
        <nav class="navbar">
            <span class="navbar-brand">{{ curso.nombre_curso }}</span>
            <div class="navbar-controls">
                <a href="{{ url_for('interfaz') }}" class="nav-link">Volver al inicio</a>
                <button id="logout-button">Cerrar Sesión</button>
            </div>
        </nav>

        <div class="curso-info">
            <h3>Descripcion del curso:</h3>
            <p>{{ curso.descripcion_curso }}</p>
        </div>

        <div class="container">
            <h1>Agregar Contenido al Curso: {{ curso.nombre_curso }}</h1>

            <!-- Formulario para agregar un nuevo título y PDFs -->
            <form id="formulario-agregar-contenido" action="{{ url_for('agregar_contenido', id_curso=curso.id_curso) }}" method="post">
                <div>
                    <label for="titulo">Título del Contenido:</label>
                    <input type="text" id="titulo" name="titulo" required>
                </div>
            
                <div>
                    <label for="contenido">Contenido:</label>
                    <textarea id="contenido" name="contenido" required></textarea>
                </div>
            
                <button type="submit">Agregar Contenido</button>
            </form>

            <!-- Lista de PDFs existentes -->
            <h2>Contenidos Existentes</h2>
            <ul id="lista-contenidos">
                <!-- Aquí se mostrarán los contenidos que ya se han agregado -->
                {% for contenido in curso.contenidos %}
                <li>{{ contenido.titulo }} - {{ contenido.texto }}</li>
                {% endfor %}
            </ul>
        </div>

    </div>
    <script src="../../static/js/curso.js"></script>
</body>

</html>