<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Panel del Profesor - Campus Virtual OWL</title>
    <link rel="stylesheet" href="../../static/styles/inicio-p.css"> <!-- Vincula tu archivo CSS aquí -->
</head>

<body>
    <div class="profesor-dashboard">
        <nav class="navbar">
            <span class="navbar-brand">Interfaz del profesor</span>
            <div class="navbar-controls">
                <a href="{{ url_for('configuracion') }}" class="nav-link">Configuración de Cuenta</a>
                <button id="logout-button">Cerrar Sesión</button>
            </div>
        </nav>

        <!-- Sección de Gestión de Cursos -->
        <section class="gestion-cursos">
            <h2>Gestión de Cursos</h2>

            <div id="lista-cursos">
                {% for curso in cursos %}
                <a class="curso" href="{{ url_for('detalle_curso', id_curso=curso.id_curso) }}">
                    <h3>{{ curso.nombre_curso }}</h3>
                    <div class="contenido-inferior">
                        <img src="{{ curso.foto_curso }}" alt="Imagen del curso {{ curso.nombre_curso }}">
                    </div>
                </a>
                {% else %}
                <p>No se encontraron cursos.</p>
                {% endfor %}
            </div>
            <button id="crear-curso">Crear Nuevo Curso</button>
            <!-- Formulario para crear nuevo curso, oculto inicialmente -->
            <div id="nuevo-curso-form-container" style="display:none;">
            </div>
            <!-- Lista de cursos actuales para editar -->
        </section>

        <section class="tareas-evaluaciones">
            <h2>Calificaciones</h2>
            <form id="filtro-curso">
                <select name="curso" id="select-curso" onchange="filtrar_calificacion_por_curso()">
                    <option value="">Selecciona un curso</option>
                    {% for curso in cursos %}
                    <option value="{{ curso.id_curso }}">{{ curso.nombre_curso }}</option>
                    {% endfor %}
                </select>
            </form>

            <div id="tabla-calificaciones">
            </div>
        </section>
    </div>
    <script src="../../static/js/inicio-p.js"></script>
</body>

</html>