<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Panel del Profesor - Campus Virtual OWL</title>
    <link rel="stylesheet" href="../../static/styles/inicio-p.css"> <!-- Vincula tu archivo CSS aquí -->
</head>

<body>
    <div class="profesor-dashboard">
        <nav class="navbar">
            <span class="navbar-brand">Interfaz del profesor</span>
            <div class="navbar-controls">
                <a href="/configuracion_cuenta.html" class="nav-link">Configuración de Cuenta</a>
                <button id="logout-button">Cerrar Sesión</button>
            </div>
        </nav>

        <!-- Sección de Gestión de Cursos -->
        <section class="gestion-cursos">
            <h2>Gestión de Cursos</h2>

            <div class="mensaje-no-cursos">
                No hay cursos creados hasta el momento.
            </div>
            <button id="crear-curso">Crear Nuevo Curso</button>
            <!-- Formulario para crear nuevo curso, oculto inicialmente -->
            <div id="nuevo-curso-form-container" style="display:none;">
            </div>
            <!-- Lista de cursos actuales para editar -->
        </section>

        <!-- Sección de Tareas y Evaluaciones -->
        <section class="tareas-evaluaciones">
            <h2>Tareas y Evaluaciones</h2>
            <!-- Herramientas para crear y calificar tareas -->
        </section>

        <!-- Sección de Foros de Discusión y Comunicación -->
        <section class="foros-comunicacion">
            <h2>Foros y Comunicación</h2>
            <!-- Herramientas para gestionar foros y comunicarse con estudiantes -->
        </section>

        <!-- Sección de Configuración Personal y Preferencias -->
        <section class="configuracion-preferencias">
            <h2>Configuración y Preferencias</h2>
            <!-- Opciones para personalizar perfil y ajustes -->
        </section>
    </div>
    <script src="../../static/js/inicio-p.js"></script>
</body>

</html>