/* Estilos generales, similares a las otras páginas */
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Estilos del contenedor de registro */
.register-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para los grupos de formulario y campos de entrada, similares a login.css */
.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-control {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type='text'], input[type='password'], input[type='select'], select{
    border: 1px solid rgba(59, 130, 246, .5);
}


/* Estilos para la tabla de preguntas de seguridad */
.preguntas-seguridad {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho disponible */
    margin-top: 20px;
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
}

.preguntas-seguridad td {
    padding: 8px; /* Espaciado interno en las celdas */
    border: 1px solid rgb(59 130 246 / .5); /* Bordes sutiles para las celdas */
}

.preguntas-seguridad label {
    display: block; /* Hace que la etiqueta ocupe toda la línea */
    margin-bottom: 5px; /* Espacio debajo de la etiqueta */
}

.preguntas-seguridad input[type="text"] {
    width: 100%; /* Asegura que el input ocupe todo el ancho de la celda */
    padding: 8px;
    border-radius: 4px; /* Bordes redondeados para los campos de texto */
}

.preguntas-seguridad tr{
    width: 20px;
}

#pregunta1, #pregunta2, #pregunta3{
    width: 100px;
}

/* Estilos del botón de registro */
.btn-primary {
    width: calc(100% - 0px);
    margin-top: 10PX;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(59 130 246 / .5);
    color: white;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: rgba(109, 160, 246, .5); /* Un tono más claro para el hover */
}

/* Estilos para el enlace de inicio de sesión */
.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link a {
    color: #0056b3;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .register-container {
        margin: 10px;
        width: calc(100% - 20px);
    }
}

.error {
    color: red;
    display: none;
}

.error-active {
    display: block;
}
