<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal del Alumno - OWL</title>
    <link rel="stylesheet" href="../../static/styles/inicio-a.css"> <!-- Vincula tu archivo CSS aquí -->
</head>

<body>
    <div class="dashboard-container">
        <nav class="navbar">
            <span class="navbar-brand">Bienvenido a OWL</span>
            <div class="navbar-controls">
                <a href="{{ url_for('configuracion') }}" class="nav-link">Configuración de Cuenta</a>
                <button id="logout-button">Cerrar Sesión</button>
            </div>
        </nav>

        <!-- Sección de Cursos Inscritos -->
        <div id="cursos-inscriptos">
            {% for curso in cursos_inscriptos %}
            <a id="curso-{{ curso.id_curso }}" class="curso"
                href="{{ url_for('detalle_curso', id_curso=curso.id_curso) }}">
                <h3>{{ curso.nombre_curso }}</h3>
                <div class="contenido-inferior">
                    <img src="{{ curso.foto_curso }}" alt="Imagen del curso {{ curso.nombre_curso }}">
                </div>
            </a>
            {% else %}
            <p>No se encontraron cursos.</p>
            {% endfor %}
        </div>

        <!-- Sección de Calificaciones -->
        <section class="calificaciones">
            <h2>Calificaciones</h2>
            <div class="resumen-calificaciones">
                <!-- Resumen de calificaciones por curso -->
            </div>
        </section>

        <!-- Sección de Ayuda y Soporte -->
        <section class="buscar-cursos">
            <h2>Buscar cursos</h2>
            <div id="buscar-cursos">
                {% for curso in cursos %}
                <div id="curso-{{ curso.id_curso }}" class="curso" href="{{ url_for('detalle_curso', id_curso=curso.id_curso) }}">
                    <h3>{{ curso.nombre_curso }}</h3>
                    <div class="contenido-inferior">
                        <img src="{{ curso.foto_curso }}" alt="Imagen del curso {{ curso.nombre_curso }}">
                        <div class="submit-container">
                            <input type="submit" class="inscripcion" value="Inscribirse"onclick="inscribir_a_curso('{{ curso.id_curso }}')">
                        </div>
                    </div>
                </div>
                {% else %}
                <p>No se encontraron cursos.</p>
                {% endfor %}
            </div>
        </section>

    </div>
    <script src="../../static/js/inicio-a.js"></script>
</body>

</html>